html {
    background-color: #FFF;
}
body {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #AAA;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 3em;
}

table {
    margin: 25px auto;
    border: 1px solid #333;
    border-radius: 10px;
    width: 75%;
}

tr:first-child td {
    border-bottom: 1px solid #333;
}

td {
    width: 50%;
    height: 100px;
    text-align: center;
    background-color: #969696;
}

td:first-child {
    border-right: 1px solid #333;
}

a {
    padding: 30px;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
    font-family: Arial;
}

a:hover {
    color: #888;
}